/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Thin;
    src: url('../fonts/poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

.font-poppins-thin {
    font-family: Poppins-Thin, sans-serif;
}

.font-poppins-light {
    font-family: Poppins-Light, sans-serif;
}

.font-poppins-regular {
    font-family: Poppins-Regular, sans-serif;
}

.font-poppins-medium {
    font-family: Poppins-Medium, sans-serif;
}

.font-poppins-bold {
    font-family: Poppins-Bold, sans-serif;
}

.font-montserrat-bold {
    font-family: Montserrat-Bold, sans-serif;
}

.container-login {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

/*Font-Style*/

* {
    transition: all 0.5s ease;
}


.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 50px;
    background-color: #ededed;
}

.bg-image {
    background-image: url("https://image.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-green-light-flat {
    background-color: #1dd1a1;
}

.bg-green-dark-flat {
    background-color: #10ac84;
}

.bg-black-dark-flat {
    background-color: #222f3e;
}

.text-black-dark-flat {
    color: #222f3e;
}

.search-input {
    font-size: 14px;
    background-color: #10ac84;
    color: #c8d6e5;
    outline: none;
}

.selected-nav {
    background-color: #576574;
}
.nav-height {
    height: 50px;
}

.sidebar-width {
    width: 250px;
}

.sidebar-height {
    height: calc(100vh - 50px);
}

.sidebar-hidden {
    display: none;
}


@media (min-width: 576px) {
    .sidebar-hidden {
        display: inline;
    }
}

